<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign Up</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="col-lg-6 d-none d-lg-block bg-login-image d-flex align-items-center justify-content-center">
                <img src="img/logo 2.png" alt="logo" id="logo2">
            </div>
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="p-5" id="all">
                        <div class="text-center" id="all">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" , method="POST" , action="/signup">
                            <div class="form-group">
                                {{ form.email(class="form-control", placeholder="Email Address") }}
                            </div>
                            <div class="form-group">
                                {{ form.username(class="form-control", placeholder="Username") }}
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form.password(class="form-control", placeholder="Password") }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="{{url_for('change_password_with_email')}}">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="{{ url_for('login') }}">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>
</body>

</html>

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* Full height of the screen */
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        text-align: center;
        width: 650px;
        /* Adjust width as needed */
    }

    .bg-login-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #logo2 {
        width: 100%;
        height: auto;
    }
</style>