{% extends "base.html" %}

{% block title %}Create Listing{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
                    <div class="col-lg-7">
                        <div class="p-5" style="display: flex; flex-direction: column; justify-content: center;">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create A Listing</h1>
                            </div>
                            <!-- Change the form action to use url_for -->
                            <form class="user" method="POST" action="{{ url_for('create_listing') }}">
                                {{ form.hidden_tag() }}  <!-- Add CSRF token -->
                                <div class="form-group">
                                    {{ form.title(class="form-control form-control-user", placeholder="Title") }}
                                </div>
                                <div class="form-group">
                                    {{ form.description(class="form-control form-control-user", placeholder="Description") }}
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <div class="input-group" style="display: flex; align-items: center;">
                                            {{ form.category(class="form-control form-control-user") }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form.price(class="form-control form-control-user", placeholder="Price") }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.image_path(class="form-control form-control-user", placeholder="Image URL") }}
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>
</body>
</html>
{% endblock %}

{% block scripts %}{% endblock %}